html, body {
    height: 100%;
}

nav {
    position: absolute;
    z-index: 999;
}

.nav-wrapper ul li a {
    font-family: 'Fauna One', serif;
}

#section1 {
    background-image: url(../assets/templatebg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

#appView {
    padding: 75px;
}


.row {
    text-align: center;
}

.page-footer {
    margin-top: -30px;
    background-color: gray;
    font-family: 'Fauna One', serif;
    text-align: center;
}

.footer-copyright {
    text-align: center;
    font-family: 'Fauna One', serif;
}

.fa-facebook {
    text-decoration: none;
    color: #fff;
}

.fa-twitter {
    text-decoration: none;
    color: #fff;
}

.fa-youtube {
    text-decoration: none;
    color: #fff;
}

.fa-linkedin {
    text-decoration: none;
    color: #fff;
}

.fa-instagram {
    text-decoration: none;
    color: #fff;
}

.fa-paypal {
    text-decoration: none;
    color: #fff;
}

.tc {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.tc:hover {
    opacity: 0.4;
}

.pageheader {
    color: #fff;
    font-family: 'Fauna One', serif;
    font-weight: 900;
}
